[Desktop Entry]
Icon=text-html
Name=ASP-NET-8-Multilingual-Application-with-single-Res
Type=Link
URL[$e]=https://www.codeproject.com/Articles/5378651/ASP-NET-8-Multilingual-Application-with-single-Res
